@import "../_variables"

.App
  font-size: calc(10px + 2vmin)
  color: black
  width: 100vw

.App-logo
  position: absolute
  height: 40vmin

.App-header
  background-color: #282c3400
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

.App-link
  color: #09d3ac

footer
  background-color: $primary
  color: $secondary
  text-align: center
  font-family: "Montserrat", sans-serif
  font-size: 9px
  font-weight: 400
  letter-spacing: 8px

.row
  max-width: 100vw

.slope
  position: absolute
  z-index: 2