@import "../_animations"
@import "../_variables"

$slideW: 40vw
$slideH: $slideW/2

.slide-base
    height: $slideH
    width: $slideW
    //background-color: $black
    background-size: cover
    background-repeat: no-repeat

.slide-right
    //transform: rotateY(90deg) translateZ(120px)
.slide-left
    //transform: rotateY(-90deg) translateZ(120px)


.slide0
    background-image: url("../assets/shitw.jpg")
.slide1
    background-image: url("../assets/nothing.jpg")
.slide2
    background-image: url("../assets/nothing.jpg")