@import "../_animations"
@import "../_variables"

$slideW: 40vw
$slideHalf: $slideW/2

.projects-section
    width: 100vw
    min-height: 100vh
    background-color: $greendirty

.slider-btn
    margin: 0 12vw
    font-size: 2em
    color: #ffffff77
    cursor: pointer
    &:hover
        color: #ffffff
.disabled
    cursor: default !important
    &:hover
        color: #ffffff77 !important

.wrapper
    position: relative
    height: $slideW/2
    width: $slideW

    .slider
        position: relative
        height: $slideW/2
        width: $slideW
        transform-style: preserve-3d
        transform: perspective(1000px) rotate3d(0, 1, 0, 0deg)
        transition: transform 1s
        &:hover
           // transform: perspective(1000px) rotate3d(0, 1, 0, 90deg)
        .slide

        .slide-left, .slide-right, .slide-center
            position: absolute
            height: $slideW/2
            width: $slideW
            background-color: $yellowish
            backface-visibility: hidden
        .slide-center
            transform: translateZ($slideW/2)
        .slide-left
            left: 0
            top: 0
            transform: rotate3d(0, 1, 0, -90deg) translateZ($slideW/2)
        .slide-right
            right: 0
            top: 0
            transform: rotate3d(0, 1, 0, 90deg) translateZ($slideW/2)

.animationSlideLeft
    animation: rotateLeft 1s linear forwards
    @keyframes rotateLeft
        0%
            transform: perspective(1000px) rotate3d(0, 1, 0, 0deg)
        100%
            transform: perspective(1000px) rotate3d(0, 1, 0, 90deg)
            
.animationSlideRight
    animation: rotateRight 1s linear forwards
    @keyframes rotateRight
        0%
            transform: perspective(1000px) rotate3d(0, 1, 0, 0deg)
        100%
            transform: perspective(1000px) rotate3d(0, 1, 0, -90deg)
