#skills-wrap 
    padding: 0

.skill-best 
    height: 200px

.skill-mid 
    height: 150px

.skill-bsc 
    height: 130px


@media screen and (max-width: 510px) 
    .skill-best 
        height: 120px
    
    .skill-mid 
        height: 110px
    
    .skill-bsc 
        height: 90px
    
