@import "../_variables"

.contact-content
    padding: 0 20px 10px 20px
    color: $primary
    .email-input
        display: block
        margin-left: auto
        margin-right: auto
        width: 50%
        height: 35px
        padding: 10px 20px
        border: none
        border-radius: 10px
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466)
        transition: box-shadow 0.5s
        &:focus
            outline: none
            box-shadow: 1px 2px 5px black
    p 
        font-size: 0.8em
    button
        display: block
        margin-top: 20px
        margin-left: auto
        margin-right: auto
        padding: 10px 20px
        border-radius: 3px
        border: none
        background: $primary
        color: $secondary
        font-size: 18px
        box-shadow: 1px 1px 1px #c7483ac7
        transition: box-shadow 0.2s
        &:hover
            box-shadow: 1px 2px 5px #c7483ac7
