@import "../_variables"
@import "../_animations"

$descWidth: 70vw

.home-section
  position: relative
  color: $white
  .home-section-content
    position: relative
    min-height: 50vh
    .home-desc
      text-align: left
      width: $descWidth
      padding: 75px
      background-color: $primary
      @media screen and ( max-width: 950px )
        width: calc( 100vw - 120px )
        padding: 20% 10px 0 10px
      @media screen and ( max-width: 720px )
        width: calc( 100vw - 45px )
      h3 
        letter-spacing: 5px
        font-size: 1.7em
        opacity: 0
        animation: fadeIn 2s ease-out forwards
        transition: 0.5s ease-out
        @media screen and ( max-width: 720px )
          text-align: left
        &:hover
          letter-spacing: 6px
      p 
        text-align: justify
        font-size: 0.8em
        margin-top: 75px
        opacity: 0
        animation: fadeIn 2.3s ease-out 0.5s forwards
        @media screen and ( max-width: 720px )
          margin-top: 10px
    .links
      width: 100vw
      height: 100px
      margin-top: 5vh
      .col
        position: relative
        height: 100px
        padding: 0
        a
          position: absolute
          max-height: 130px
          max-width: 95px
          color: #ffffff !important
          text-decoration: none !important
          transition-duration: 0.3s
          &:hover
            color: $fifth !important
          img 
            margin-left: 20%
            @media screen and ( max-width: 720px )
              margin-left: 5%
              

.slope-divider
  margin-top: 30vh !important
  h2
    font-family: "Almendra SC", serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-weight: bold
    background-image: url("../assets/battle.jpg")
    background-attachment: fixed
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    user-select: none

#git
  animation: slideLeft 2s ease forwards
  right: 10px !important
#lin
  animation: slideRight 2s ease forwards
  left: 10px !important

.colorFade
  animation: colorFade 1s ease 2s forwards
